// Urls for servers, use ipconfig or ifconfig to find your local ip
const String serverConnection = "ws://192.168.0.XXX:5605"; // url to connect with stream server
const String localServer = "192.168.0.XXX"; //IP of stream- & db api servers, port 5605/5604

// database connection settings
const String dbConnection = 'localhost'; //IP of postgres db
const int dbPort = 5432;
const String dbUser = 'postgres';
const String dbPassword = 'postgres';
const String dbDatabase = 'postgres';
