// Urls for servers, use ipconfig or ifconfig to find your local ip
/// url to connect with stream server
const String serverConnection = "ws://192.168.0.XXX:5605";
/// IP of stream- & db api servers, port 5605/5604
const String localServer = "192.168.0.XXX";

// database connection settings
/// IP of postgres db
const String dbConnection = 'localhost';
/// port used by db
const int dbPort = 5432;
/// db username
const String dbUser = 'postgres';
/// db password
const String dbPassword = 'postgres';
/// database to be used in db server
const String dbDatabase = 'postgres';
